body {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 16px;
  padding-bottom: 16px;
  -webkit-box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  -moz-box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header_content {
  vertical-align: middle;
  width: 956px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #262626;
}

.header_button {
  padding: 8px 12px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #fff;
  display: inline-flex;
  align-items: center;
}
.header_button_asap {
  margin-left: 124px;
}
.header_button_location {
  margin-left: 9px;
}
.header_button_signin {
  margin-left: 92px;
}
.header_button_register {
  margin-left: 16px;
  background-color: black;
  color: white;
  border: 1px solid #000000;
}
.header_button_basket {
  border: none;
  margin-left: 15px;
}

.header_span {
  margin-left: 9px;
}
.header_span_location {
  width: 240px;
  text-align: left;
}

.icon-img-location {
  content: url("../svg/map_pin_icon.svg");
  display: inline-flex;
  align-items: center;
  margin-right: 12px;
}

.icon-img-basket {
  content: url("../svg/header_basket.svg");
}

.search {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_input {
  border: none;
  width: 900px;
  margin-left: 8px;
}
.search_input:focus {
  outline: none;
}
.search_input::placeholder {
  color: #626262;
  opacity: 0.5;
}
.search_icon_loupe {
  content: url("../svg/loupe.svg");
}

.wide-underscore {
  margin: 0 auto;
  height: 1px;
  width: 956px;
  margin-top: 15px;
  background: #757575;
  opacity: 0.3;
}

h3 {
  margin: 0;
}

.restaurants {
  width: 956px;
  margin: 0 auto;
  margin-top: 56px;
}
.restaurants_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: stretch;
  width: inherit;
}
.restaurants_container_card {
  margin-bottom: 16px;
}
.restaurants_container_card:hover {
  background-color: rgba(117, 117, 117, 0.04);
  mix-blend-mode: normal;
}
.restaurants_container_card_tittle {
  margin-top: 16px;
}
.restaurants_container_card_currency-cuisine {
  margin: 0;
  margin-top: 4px;
}
.restaurants_container_card_cooking-time {
  margin: 0;
  margin-top: 4px;
  margin-bottom: 20px;
}

.footer-wide-underscore, .footer-wide-underscore_after-hashtags {
  margin: 0 auto;
  height: 1px;
  width: 956px;
  margin-top: 40px;
  background: #fff;
  opacity: 0.4;
}
.footer-wide-underscore_after-hashtags {
  margin-top: 48px;
}

.footer_content {
  width: 956px;
  height: 600px;
  margin: 0 auto;
}
.footer_content_logo {
  margin-top: 56px;
  content: url("../svg/footer_logo_uber.svg");
}

.custom-select {
  background-color: #3b3b3b;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}
.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.custom-select_arrow-down {
  margin-right: 8px;
}
.custom-select_selected {
  margin-left: 17px;
  margin-right: auto;
}
.custom-select__trigger {
  width: 227px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-select_arrow-down {
  content: url("../svg/arrow-down.svg");
}
.custom-select_icon {
  margin-left: 25px;
  margin-top: 12px;
  margin-bottom: 12px;
  content: url("../svg/world.svg");
}

.custom-options {
  visibility: hidden;
  position: absolute;
  top: 100%;
  width: 100%;
}
.custom-options_option {
  padding-left: 48px;
  display: block;
  background-color: #3b3b3b;
}
.custom-options_option:hover {
  background-color: #303030;
}

.footer_content_flexbox {
  margin-top: 32px;
  display: flex;
}
.footer_content_flexbox_left_language {
  max-height: 40px;
  max-width: 227px;
  width: 100%;
  position: relative;
}
.footer_content_flexbox_left_hashtag {
  margin-top: 33px;
}
.footer_content_flexbox_left_icons {
  margin-top: 20px;
}
.footer_content_flexbox_middle {
  margin-left: 97px;
}
.footer_content_flexbox_middle_href {
  margin-bottom: 23px;
  display: block;
  width: fit-content;
}
.footer_content_flexbox_middle_href:last-of-type {
  margin-bottom: 0;
}
.footer_content_flexbox_right {
  margin-left: 154px;
}
.footer_content_flexbox_right_href {
  margin-bottom: 23px;
  display: block;
  width: fit-content;
}
.footer_content_flexbox_right_href:last-of-type {
  margin-bottom: 0;
}

.footer_stores-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_stores-links_inline-links {
  display: inline-flex;
  margin-top: 40px;
}
.footer_stores-links_inline-links_href:last-of-type {
  margin-left: 41px;
}

.footer_copyright {
  margin-top: 40px;
  display: flex;
}
.footer_copyright_middle {
  margin-left: 174px;
}
.footer_copyright_middle_privacy {
  text-decoration: none;
}
.footer_copyright_right {
  margin-left: 288px;
}
.footer_copyright_right_terms {
  text-decoration: none;
}

.button-up {
  position: fixed;
  width: 80px;
  height: 80px;
  right: 16px;
  bottom: 24px;
}
.button-up_button_href {
  display: flex;
  justify-content: center;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  width: inherit;
  height: inherit;
  background-color: #59bd5a;
}
.button-up_button_href_arrow {
  width: fit-content;
}

/*# sourceMappingURL=style.css.map */
