.base-style-text
    color: #1d1d1d
    font-size: 16px
    line-height: 22px
    font-weight: 400
    font-family: Roboto 
.second-style-text
    color: #1d1d1d
    font-size: 12px
    line-height: 24px
.header-sign-in-text
    font-size: 13px
    line-height: 22px
    font-family: Roboto
    font-weight: 500
.header-to-text
    color: #1d1d1d
    font-size: 16px
    line-height: 18px
    font-family: Roboto
    font-weight: 300
.restaurants-tittle-text
    color: #1d1d1d
    font-size: 22px
    line-height: 34px
    font-weight: 400
    font-family: Roboto 
.restaurants_container_card_tittle_text
    color: #1d1d1d
    font-size: 16px
    line-height: 24px
    font-weight: 400
    font-family: Roboto 
.restaurants_container_card_currency-cuisine_text
    color: #626262
    font-size: 14px
    line-height: 21px
    font-weight: 400
    font-family: Roboto
.restaurants_container_card_cooking-time_text
    color: #1d1d1d
    font-size: 13px
    line-height: 21px
    font-weight: 400
    font-family: Roboto 
.custom-select_text
    color: #fff
    font-size: 13px
    line-height: 40px
    font-weight: 400
    font-family: Roboto 
.footer_hashtag
    color: #fff
    font-size: 16px
    line-height: 18px
    font-weight: 400
    font-family: Roboto 
    &_symbol
        color: rgba(73, 161, 68, 1)
.footer_links
    color: #fff
    font-size: 13px
    line-height: 15px
    font-weight: 400
    font-family: Roboto
.footer_links_copyright
    color: #fff
    font-size: 11px
    line-height: 13px
    font-weight: 400
    font-family: Roboto
